/data/flankdb
/data/mgedb
/data/plsdb
/data/irompdb/irompdb.phr
/data/irompdb/irompdb.pin
/data/irompdb/irompdb.pog
/data/irompdb/irompdb.psd
/data/irompdb/irompdb.psi
/data/irompdb/irompdb.psq
/data/irompdb/iromps.hmm.h3f
/data/irompdb/iromps.hmm.h3i
/data/irompdb/iromps.hmm.h3m
/data/irompdb/iromps.hmm.h3p
/data/irompdb/iromps_nr.faa
/data/irompdb/PF00593.hmm
/data/irompdb/PF07715.hmm
/data/irompdb/seed_alignment_blastp_1e-130_2.xlsx
/dependencies.csv
