/sideroscanner/data/flankdb
/sideroscanner/data/mgedb
/sideroscanner/data/plsdb
/sideroscanner/data/irompdb/irompdb.phr
/sideroscanner/data/irompdb/irompdb.pin
/sideroscanner/data/irompdb/irompdb.pog
/sideroscanner/data/irompdb/irompdb.psd
/sideroscanner/data/irompdb/irompdb.psi
/sideroscanner/data/irompdb/irompdb.psq
/sideroscanner/data/irompdb/iromps.hmm.h3f
/sideroscanner/data/irompdb/iromps.hmm.h3i
/sideroscanner/data/irompdb/iromps.hmm.h3m
/sideroscanner/data/irompdb/iromps.hmm.h3p
/sideroscanner/data/irompdb/iromps_nr.faa
/sideroscanner/data/irompdb/PF00593.hmm
/sideroscanner/data/irompdb/PF07715.hmm
/*.xlsx
/dependencies.csv
/test
/meta.yaml
