include sideroscanner/data/irompdb/iromps.csv
include sideroscanner/data/irompdb/iromps.hmm
include sideroscanner/data/furdb/fur.meme
include README.md
include sideroscanner.png
include requirements.txt
